# Testing and reporting
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/coverage

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/*
*.local
/.pnp
.pnp.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/*
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Production
/build
/storybook-static
vite.config.*.timestamp*

# Environments
.env*

# Local files
*local*

# pyc
__pycache__/
*.pyc

# QA
.venv*
venv*
# .qa/ # Uncomment in the future projects
.history/
tests/acceptance/error_*.png
tests/acceptance/_output/
tests/acceptance/resources/page_objects_definition/temporal/
tests/acceptance/settings/runners/**/automatic/*
tests/acceptance/tools/selenoid/.logs/
tests/acceptance/tools/selenoid/.video/
